
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(23, 22, 22);
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 100px;
    font-family:sans-serif;
    font-weight: lighter;
}


.logo {
    color: white;
    font-size: 20px;
    font-weight: lighter;
}

ul {
    display: flex;
    list-style: none;
    gap: 30%;
    margin-left: auto; 
    margin-right: 20%; 
}

ul li {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.purchase {
    background: white;
    color: black;
    padding: 15px 20px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    gap: 5px;
}

.dot {
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
}

.FirstPage {
    color: aliceblue;
    display: grid;
    place-items: center; 
    height: 30vh;
    text-align: center;
}

.MiddleText{
padding-top: 5%;
font-size:xxx-large;
font-weight: lighter;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.FirstPargragh {
    padding-top: 3%;
    color: white; 
    font-size: small; 
    font-weight: normal; 
    text-align: center; 
    max-width: 60%;
    margin: 0 auto; 
    line-height: 1.7; 

}
.PhotoGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px; 
    width: 100%;
}

.PhotoGrid img {
    width: 300px;
    height: 250px;
    object-fit: cover;}
   
img{
    padding-top: 5vh; 

}

.photo-item h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
    margin-top: 20px;
    font-weight: lighter;
    color: white;

}
.white-page{
    background-color: rgb(255, 255, 255);



}









